<template>
  <b-container fluid="true" id="wrapper">
    <div class="container overflow-hidden">
      <daily-menu :date="date"></daily-menu>

      <section class="col-12">
          <h2 class="section-title">Baltic Regulated market</h2>

          <baltic-regulated-market :date="date"></baltic-regulated-market>
          <baltic-regulated-market-total v-if="balticRegulatedMarketGrandTotal"
                                         :grand-total="balticRegulatedMarketGrandTotal">
          </baltic-regulated-market-total>
      </section>

      <section class="col-12">
        <first-north-baltic-list :date="date"></first-north-baltic-list>
      </section>
    </div>

    <all-markets-grand-total v-if="allMarketsGrandTotal"
                             :grand-total="allMarketsGrandTotal">
    </all-markets-grand-total>

  </b-container>
</template>

<script>

import BalticRegulatedMarket from "@/components/BalticRegulatedMarket";
import BalticRegulatedMarketTotal from "@/components/BalticRegulatedMarketTotal";
import FirstNorthBalticList from "@/components/FirstNorthBalticList";
import AllMarketsGrandTotal from "@/components/AllMarketsGrandTotal";
import DailyMenu from "@/components/DailyMenu";
import EventBus from "@/utils/eventBus";

export default {
  name: "DailyView",
  components: {
    DailyMenu,
    AllMarketsGrandTotal,
    FirstNorthBalticList,
    BalticRegulatedMarket,
    BalticRegulatedMarketTotal
  },
  beforeMount() {
    EventBus.$on('FETCH_NEW_DATE', this.updateCurrentDate);
    EventBus.$on('FETCH_NEW_DATE', this.fetchGrandTotalTrades);
  },
  data() {
    return {
        date: null,
        balticRegulatedMarketGrandTotal: null,
        allMarketsGrandTotal: null
    }
  },
  async created() {
    this.updateCurrentDate();
    await this.fetchGrandTotalTrades();
  },
  methods: {
    async fetchGrandTotalTrades() {
      try {
        const response = await this.axios.get(`/stock/${this.$route.params.date}`);
        if (response.data) {
          this.balticRegulatedMarketGrandTotal = response.data.balticRegulatedMarket;
          this.allMarketsGrandTotal = response.data.allMarkets;
        }
        return this.balticRegulatedMarketGrandTotal && this.allMarketsGrandTotal;
      }
      catch (e) {
        console.log(e);
      }
    },
    updateCurrentDate() {
      this.date = this.$route.params.date;
      EventBus.$emit("UPDATE_STOCKS", this.date);
    }
  }
}
</script>

<style lang="less">

#wrapper {
  margin: auto;
  position: relative;
  display: block;
  padding-top: 50px;
}

.section-title {
  color: #0099BA;
  font-size: 26px;
  margin: 0 0 30px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  text-align: left;
}

</style>
