<template>
  <b-container fluid="true" id="app">
      <b-card-title id="stocks-title">List of available Stock days</b-card-title>

      <div id="stocks-results" class="table-responsive">
        <b-table
            id="stocks-table"
            striped
            v-if="stocks && stocks.length"
            :items="stocks"
            :hover="true"
            :fields="fields"
            @row-clicked="viewDailyStock"
            primary-key="_id"
            small
            responsive="true">
          <template v-slot:cell(date)="{ item }">
            <span class="date">{{ item.date }}</span>
            <b-link :href="`/stock/${item.date}`" v-b-tooltip.hover title="Click to open">
              <b-icon-eye-fill></b-icon-eye-fill>
            </b-link>
          </template>
        </b-table>

        <div v-if="!stocks.length" class="empty-message">
          <p>There is no available stocks now</p>
        </div>
      </div>
  </b-container>
</template>

<script>

export default {
  name: "HomePage",
  components: {
  },
  async created() {
    await this.fetchData();
  },
  data() {
    return {
      fields: [
        { key: 'date', label: 'Stock date' }
      ],
      stocks: []
    }
  },
  methods: {
    async fetchData() {
      try {
        const response = await this.axios.get('/stock');
        if (response && response.data) {
          this.stocks = response.data;
          return this.stocks;
        }
        return this.stocks;
      }
      catch (e) {
        console.log(e);
      }
    },
    viewDailyStock(item) {
      this.$router.push({ path: '/stock/' + item.date });
    }
  }
}
</script>

<style lang="less">

#stocks-title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.empty-message {
  margin: auto;
  text-align: center;
  font-style: italic;
  font-size: small;
}

#stock-results {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  text-align: left;
  padding-right: 8%;
  padding-left: 8%;
}

#stack-table {
  overflow: auto;
}

.date {
  padding-right: 30px;
}

</style>
