<template>
  <b-container class="main-top">
    <span class="select-text">Select the time period to see top 10 most actively traded stocks</span>

    <b-row class="date-pickers">
      <b-form-group
          id="start-grp"
          label-cols-sm="3"
          label-for="start"
          class="trade"
      ><template slot="label">Period from</template>
        <b-form-datepicker
            format='DD/MM/YYYY'
            id="start"
            v-model="start"
            name="start"
            :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
            v-bind:class="dateMismatch()"
            type="date">
        </b-form-datepicker>
      </b-form-group>

      <b-form-group
          id="end-grp"
          label-cols-sm="3"
          label-for="end"
          class="trade"
      ><template slot="label">Period to</template>
        <b-form-datepicker
            format='DD/MM/YYYY'
            id="end"
            v-model="end"
            name="end"
            :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
            v-bind:class="dateMismatch()"
            type="date">
        </b-form-datepicker>
      </b-form-group>
    </b-row>

    <b-row align-h="end" class="button-top">
      <b-button @click="executeTopStock" type="button" variant="primary">
        Execute
      </b-button>
    </b-row>

    <segment-table :segmentList="topStocks"></segment-table>

    <b-form-group v-if="!topStocks.length" class="empty-data">
      <span>There is no data</span>
    </b-form-group>
  </b-container>
</template>

<script>

import SegmentTable from "@/components/SegmentTable";

export default {
  name: "TopTradedStocks",
  components: {SegmentTable},
  data() {
    return {
      start: null,
      end: null,
      topStocks: []
    }
  },
  methods: {
    async executeTopStock() {
      try {
        const response = await this.axios.post('/stock', {
          from: this.start, till: this.end
        });
        if (response && response.data) {
          this.topStocks = response.data;
        }
        return this.topStocks;
      }
      catch (e) {
        console.log(e);
      }
    },
    dateMismatch() {
      const end = new Date(this.end);
      const start = new Date(this.start);
      if (this.end && this.start && end < start) return 'is-invalid'
    }
  }
}
</script>

<style lang="less">

.main-top {
  padding-top: 90px;
}

.select-text {
  font-weight: bold;
}

.date-pickers {
  padding-top: 40px;
}

.btn-primary {
  background-color: #00BFD5;
  border-color: #00BFD5;
}

.empty-data {
  text-align: center;
  font-style: italic;
  color: #0099BA;
  padding-top: 40px;
}

.button-top {
  padding-bottom: 50px;
  padding-top: 30px;
}

</style>