<template>
  <b-form>
    <baltic-main-list :date="date"></baltic-main-list>
    <baltic-secondary-list :date="date"></baltic-secondary-list>
  </b-form>

</template>

<script>
import BalticMainList from "./BalticMainList";
import BalticSecondaryList from "./BalticSecondaryList";

export default {
  name: "BalticRegulatedMarket",
  components: {
    BalticMainList,
    BalticSecondaryList
  },
  props: {
    date: {
      type: String,
      required: true
    }
  },
}
</script>
