<template>
  <b-row align-h="end" class="grand-main" v-if="grandTotal.totalTrades">
    <b-table id="bml-table"
             :items="items"
             :hover="true"
             :fields="fields"
             primary-key="_id"
             thead-class="grand-baltic-header table-borderless text-right"
             table-class ="grand-baltic-row table-borderless text-right"
             small
             responsive="true">
    </b-table>
  </b-row>
</template>

<script>

export default {
  name: "BalticRegulatedMarketTotal",
  props: {
    grandTotal: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      items: [{
        grandTotal: 'GRAND TOTAL',
        totalTrades: this.grandTotal.totalTrades,
        totalVolume: this.grandTotal.totalVolume,
        totalTurnover: this.grandTotal.totalTurnover
      }],
      fields: [
        { key: 'grandTotal', label: 'Baltic Regulated market', thClass: 'grand-col' },
        { key: 'totalTrades', label: 'TRADES' },
        { key: 'totalVolume', label: 'VOLUME' },
        { key: 'totalTurnover', label: 'TURNOVER €' }
      ]
    }
  },
}
</script>

<style lang="less">

.grand-main {
  padding-right: 20px;
}

.grand-baltic-header {
  color: #888888;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
}
.grand-baltic-row {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  background-color: white;
}

.table-borderless td,
.table-borderless th {
  border: 0;
}

.grand-col {
  color: #0099BA;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  font-size: 26px;
  margin: 0 0 30px;
  font-weight: 300;
  line-height: 32px;
}

</style>
