<template>
  <b-form  id="BML">
    <b-form-row>
      <h2 class="block-title">Baltic Main List</h2>
      <span class="small-text"> {{ balticMainList.length }} companies</span>
    </b-form-row>

    <b-form-group v-if="balticMainList.length">
      <segment-table :segment-list="balticMainList"></segment-table>

      <total-trades v-if="totalTurnover"
                    :title="totalTitle"
                    :total-trades="totalTrades"
                    :total-volume="totalVolume"
                    :total-turnover="totalTurnover"></total-trades>
    </b-form-group>

    <b-form-group v-if="!balticMainList.length" class="no-data">
      <span>There is no data</span>
    </b-form-group>
  </b-form>
</template>

<script>

import SegmentTable from "@/components/SegmentTable";
import TotalTrades from "@/components/TotalTrades";
import EventBus from "@/utils/eventBus";

export default {
  name: "BalticMainList",
  components: {
    TotalTrades,
    SegmentTable
  },
  props: {
    date: {
      type: String,
      required: true
    }
  },
  beforeMount() {
    EventBus.$on('UPDATE_STOCKS', this.updateDate);
    EventBus.$on('UPDATE_STOCKS', this.fetchData);
  },
  data() {
    return {
      requestedDate: null,
      balticMainList: [],
      totalTrades: null,
      totalVolume: null,
      totalTurnover: null,
      totalTitle: 'BALTIC MAIN LIST TOTAL'
    }
  },
  async created() {
    this.requestedDate = this.date;
    await this.fetchData();
  },
  methods: {
    updateDate(newValue) {
      this.requestedDate = newValue;
    },
    async fetchData() {
      try {
        const response = await this.axios.post(`/stock/${this.requestedDate}`, {
          segment: 'BALTIC_MAIN'
        });
        if (response.data) {
          this.balticMainList = response.data.stocks;
          this.totalTrades = response.data.totalTrades;
          this.totalVolume = response.data.totalVolume;
          this.totalTurnover = response.data.totalTurnover;
          return this.balticMainList;
        }
        return this.balticMainList;
      }
      catch (e) {
        console.log(e);
      }
    }
  }
}
</script>

<style lang="less">

.block-title {
  color: #212B36;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 25px;
  font-weight: 700;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  text-align: left;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.small-text {
  color: #888888;
  padding-top: 20px;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
}

.no-data {
  text-align: left;
  font-style: italic;
  color: #0099BA;
  padding-bottom: 40px;
}

</style>
