<template>
  <b-form id="BSL">

    <b-form-row>
      <h2 class="block-title">Baltic Secondary List</h2>
      <span class="small-text"> {{ balticSecondaryList.length }} companies</span>
    </b-form-row>

    <b-form-group v-if="balticSecondaryList.length">
      <segment-table :segment-list="balticSecondaryList"></segment-table>

      <total-trades v-if="totalTurnover"
                    :title="totalTitle"
                    :total-trades="totalTrades"
                    :total-volume="totalVolume"
                    :total-turnover="totalTurnover"></total-trades>
    </b-form-group>

    <b-form-group v-if="!balticSecondaryList.length" class="no-data">
      <span>There is no data</span>
    </b-form-group>
  </b-form>
</template>

<script>

import SegmentTable from "@/components/SegmentTable";
import TotalTrades from "@/components/TotalTrades";
import EventBus from "@/utils/eventBus";

export default {
  name: "BalticSecondaryList",
  components: {
    SegmentTable,
    TotalTrades
  },
  props: {
    date: {
      type: String,
      required: true
    }
  },
  beforeMount() {
    EventBus.$on('UPDATE_STOCKS', this.updateDate);
    EventBus.$on('UPDATE_STOCKS', this.fetchData);
  },
  data() {
    return {
      requestedDate: null,
      balticSecondaryList: [],
      totalTrades: null,
      totalVolume: null,
      totalTurnover: null,
      totalTitle: 'BALTIC SECONDARY LIST TOTAL'
    }
  },
  async created() {
    this.requestedDate = this.date;
    await this.fetchData();
  },
  methods: {
    updateDate(newValue) {
      this.requestedDate = newValue;
    },
    async fetchData() {
      try {
        const response = await this.axios.post(`/stock/${this.requestedDate}`, {
          segment: 'BALTIC_SECONDARY'
        });
        if (response.data) {
          this.balticSecondaryList = response.data.stocks;
          this.totalTrades = response.data.totalTrades;
          this.totalVolume = response.data.totalVolume;
          this.totalTurnover = response.data.totalTurnover;
          return this.balticSecondaryList;
        }
        return this.balticSecondaryList;
      }
      catch (e) {
        console.log(e);
      }
    }
  }
}
</script>
