<template>
  <section class="section">
    <b-form-row>
      <a href="#BML" v-on:click="toggleSegment('BML')" class="list-ref"><p>Baltic Main List</p></a>
      <a href="#BSL" v-on:click="toggleSegment('BSL')" class="list-ref"><p>Baltic Secondary List</p></a>
      <a href="#FNBL" v-on:click="toggleSegment('FNBL')" class="list-ref"><p>First North Baltic Share List</p></a>
    </b-form-row>
    <b-form-row>
      <b-form-group
          id="date-grp"
          label-cols-sm="3"
          label-for="date"
          class="trade"
      ><template slot="label">Trading session</template>
        <b-form-datepicker
            format='DD/MM/YYYY'
            id="date"
            v-model="chosenDate"
            @input="chooseStockDate"
            name="date"
            :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit' }"
            type="date">
        </b-form-datepicker>
      </b-form-group>
    </b-form-row>
  </section>
</template>

<script>
import EventBus from "@/utils/eventBus";

export default {
  name: "DailyMenu",
  props: {
    date: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      chosenDate: null,
      activeSegment: null
    }
  },
  created() {
    this.chosenDate = this.date;
  },
  methods: {
    toggleSegment(segmentName) {
      this.activeSegment = segmentName;
      window.scrollTo(0, 0);
    },
    chooseStockDate() {
      this.$router.push({ path: '/stock/' + this.chosenDate });
      EventBus.$emit("FETCH_NEW_DATE");
    }
  }
}
</script>

<style lang="less">

.section {
  padding-top: 40px;
}

.trade {
  color: #212B36;
  width: 50%;
}

.list-ref {
  text-decoration: none;
  color: #212B36;
  font-weight: bold;
  padding-right: 30px;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
}

.list-ref:hover {
  color: #0099BA;
}

</style>