<template>
  <b-form id="FNBL">
    <h2 class="section-title">First North (Baltic MTF)</h2>
    <p class="north-text">Nasdaq First North is a multilateral trading facility (MTF), also known as an Alternative Market, operated by the different exchanges within Nasdaq.
      It does not have the legal status of an EU regulated market. Companies on First North are subject to the rules of First North and not the legal
      requirements for listing or admission to trading on a regulated market.</p>

    <b-form-row>
      <h2 class="block-title">First North Baltic List</h2>
      <span class="small-text"> {{ firstNorthBalticList.length }} companies</span>
    </b-form-row>

    <b-form-group v-if="firstNorthBalticList.length">
      <segment-table :segment-list="firstNorthBalticList"></segment-table>

      <total-trades v-if="totalTurnover"
                    :title="totalTitle"
                    :total-trades="totalTrades"
                    :total-volume="totalVolume"
                    :total-turnover="totalTurnover"></total-trades>
    </b-form-group>

    <b-form-group v-if="!firstNorthBalticList.length" class="no-data">
      <span>There is no data</span>
    </b-form-group>
  </b-form>
</template>

<script>

import SegmentTable from "@/components/SegmentTable";
import TotalTrades from "@/components/TotalTrades";
import EventBus from "@/utils/eventBus";

export default {
  name: "FirstNorthBalticList",
  components: {
    SegmentTable,
    TotalTrades
  },
  props: {
    date: {
      type: String,
      required: true
    }
  },
  beforeMount() {
    EventBus.$on('UPDATE_STOCKS', this.updateDate);
    EventBus.$on('UPDATE_STOCKS', this.fetchData);
  },
  data() {
    return {
      requestedDate: null,
      firstNorthBalticList: [],
      totalTrades: null,
      totalVolume: null,
      totalTurnover: null,
      totalTitle: 'FIRST NORTH BALTIC SHARE LIST TOTAL'
    }
  },
  async created() {
    this.requestedDate = this.date;
    await this.fetchData();
  },
  methods: {
    updateDate(newValue) {
      this.requestedDate = newValue;
    },
    async fetchData() {
      try {
        const response = await this.axios.post(`/stock/${this.requestedDate}`, {
          segment: 'FIRST_NORTH_BALTIC'
        });
        if (response.data) {
          this.firstNorthBalticList = response.data.stocks;
          this.totalTrades = response.data.totalTrades;
          this.totalVolume = response.data.totalVolume;
          this.totalTurnover = response.data.totalTurnover;
          return this.firstNorthBalticList;
        }
        return this.firstNorthBalticList;
      }
      catch (e) {
        console.log(e);
      }
    }
  }
}
</script>

<style lang="less">

.north-text {
  text-align: left;
  color: #212B36;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  font-size: 14px;
}

</style>
