<template>
    <b-navbar class="welcome" fixed="top">
      <b-navbar-brand>
        <img :src="nasdaqLogo" id="brand-logo" alt="nasdaq_logo"/>
      </b-navbar-brand>

      <b-navbar-nav class="ml-auto">
        <b-link class="link-text" :href="'/'">
          Main view
        </b-link>
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-link class="link-text" :href="'/top'">
          Top 10 statistics
        </b-link>
      </b-navbar-nav>

    </b-navbar>
</template>

<script>

export default {
  name: "Navbar",
  data() {
    return {
      nasdaqLogo: require('../../../stock-exchange-webapp/src/assets/NASDAQ_Logo.svg')
    }
  }
}
</script>

<style lang="less">

.welcome {
  background-color: #0099BA;
}

.link-text {
  text-align: right;
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration-line: underline;
  text-decoration-color: #00BFD5;
}

</style>
