<template>
  <b-table v-if="segmentList.length"
           id="bml-table"
           striped
           :items="segmentList"
           :hover="true"
           :fields="fields"
           primary-key="_id"
           thead-class="table-header"
           table-class ="table-row"
           small
           responsive="true">

    <template v-slot:cell(companyName)="{ item }">
      <span class="company-col">{{ item.companyName }}</span>
    </template>
    <template v-slot:cell(ticker)="{ item }">
      <span class="company-col">{{ item.ticker }}</span>
    </template>
    <template v-slot:cell(priceChange)="{ item }">
      <span v-if="item.priceChange < 0" class="redChange">{{ item.priceChange }}</span>
      <span v-if="item.priceChange > 0" class="greenChange">+{{ item.priceChange }}</span>
      <span v-else></span>
    </template>
    <template v-slot:cell(bestBid)="{ item }">
      <span v-if="item.bestBid">{{ item.bestBid }}</span>
      <span v-else>-</span>
    </template>
    <template v-slot:cell(bestAsk)="{ item }">
      <span v-if="item.bestAsk">{{ item.bestAsk }}</span>
      <span v-else>-</span>
    </template>
  </b-table>
</template>

<script>
import tableFields from "../tableFields";

export default {
  name: "SegmentTable",
  props: {
    segmentList: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      fields: tableFields
    }
  },
}
</script>

<style lang="less">

.table-header {
  color: #888888;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.table-row {
  text-align: left;
  color: #888888;
  background-color: #0099BA0F;
}

.company-col {
  color: #0099BA;
  font-weight: 500;
}

.redChange {
  color: crimson;
  font-weight: bold;
}

.greenChange {
  color: limegreen;
  font-weight: bold;
}

</style>
