<template>
  <b-row align-h="end" class="main">
      <b-table id="bml-table"
               :items="items"
               :hover="true"
               :fields="fields"
               primary-key="_id"
               thead-class="total-table-header table-borderless text-right"
               table-class ="total-table-row table-borderless text-right"
               small
               responsive="true">
      </b-table>
  </b-row>
</template>

<script>

export default {
  name: "TotalTrades",
  props: {
    title: {
      type: String,
      required: true
    },
    totalTrades: {
      type: Number,
      required: true
    },
    totalVolume: {
      type: Number,
      required: true
    },
    totalTurnover: {
      type: Number,
      required: true
    },
  },
  data() {
    return {
      items: [{
        title: '',
        totalTrades: this.totalTrades,
        totalVolume: this.totalVolume,
        totalTurnover: this.totalTurnover
      }],
      fields: [
        { key: 'title', label: this.title },
        { key: 'totalTrades', label: 'TRADES' },
        { key: 'totalVolume', label: 'VOLUME' },
        { key: 'totalTurnover', label: 'TURNOVER €' }
      ]
    }
  },
}
</script>

<style lang="less">

.main{
  padding-right: 20px;
}

.total-table-header {
  color: #888888;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
}
.total-table-row {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  background-color: white;
}

.table-borderless td,
.table-borderless th {
  border: 0;
}

</style>