<template>
  <div id="app">
    <div id="nav">
      <Navbar/>
    </div>
    <router-view/>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar";

export default {
  name: 'Main',
  components: {
    Navbar
  }
}
</script>

<style lang="less">

#app {
  text-align: center;
  color: #217bb9;
}

</style>

